/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 400px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 30px;
}

/* Form Styles */
.form h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    text-align: center;
    color: black;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: #4caf50;
    outline: none;
}

/* Button Styles */
.btn {
    width: 100%;
    padding: 10px;
    background: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}



/* Switch Form Styles */
.switch-form {
    text-align: center;
    margin-top: 10px;
    font-size: 0.9rem;
    color: #666;
}

.switch-form a {
    color: black;
    text-decoration: none;
}

.switch-form a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 480px) {
    .container {
        padding: 20px;
    }

    .form h2 {
        font-size: 1.5rem;
    }

    .btn {
        font-size: 0.9rem;
    }
}


/* Error message styling */
.error-message {
    background-color: #f44336; /* Red background */
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
}






